DB_CONNECT_STRING="nombre_de_tu_servicio_high"
DB_WALLET_PATH="../shared-wallet"
DB_WALLET_PASSWORD="tu_contrasena_del_zip_aqui"

AUTH_USER="usuario_auth"
AUTH_PASS="password_auth"
    
ADMIN_USER="usuario_admin"
ADMIN_PASS="password_admin"

SOS_USER="usuario_sos"
SOS_PASS="password_sos"

AWS_REGION="us-east-1"
AWS_ACCESS_KEY="tu_aws_access_key_aqui"
AWS_SECRET_KEY="tu_aws_secret_key_aqui"