# Configuración de Base de Datos (Oracle SQL)
DB_CONNECT_STRING=
DB_WALLET_PATH=
DB_WALLET_PASSWORD=

# Credenciales de Módulos (SQL Users)
AUTH_USER=
AUTH_PASS=

ADMIN_USER=
ADMIN_PASS=

SOS_USER=
SOS_PASS=

PROF_USER=
PROF_PASS=

# Configuración de OCI (Oracle NoSQL)
OCI_TENANT_ID=
OCI_USER_ID=
OCI_FINGERPRINT=
OCI_COMPARTMENT_ID=
OCI_PRIVATE_KEY_PATH=

# Comunicaciones (Twilio API)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=